
.idea/dictionaries
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
out/production/Algorithms_study/*
.idea/vcs.xml
.idea/dictionaries
.idea/misc.xml
.idea/modules.xml
.idea/dictionaries
.idea/uiDesigner.xml
.idea/workspace.xml
Algorithms_study.iml
